$borderColor: #f0f0f0;
$borderDarkColor: #cecece;
$panelBackgroundColor: #cccccc;
$loaderBackgroundColor: rgba(255, 255, 255, 0.5);
$fontColor: #000000;

//$topMenuColor: #227447;
$topMenuColor: rgb(1, 150, 63);
$topMenuColorActive: rgb(5, 182, 79);
$topMenuBgColor: #505050;
$topMenuFontColor: #ffffff;
$topMenuFontSize: 12px;

$secondaryButtonFontColor: #808080;
$secondaryButtonBackgroundColor: #ececec;
$secondaryButtonBorderColor: #cccccc;
$secondaryButtonHoverColor: #cecece;