@import "colors";
@import "common";

.modal-container {
    position: absolute;
    background-color: $loaderBackgroundColor;
    width: 100%;
    height: 100%;
    z-index: 300;
    align-items: center;
    display: flex;
    justify-content: space-around;

    .modal {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 350px;
        box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.05);

        .button {
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            border-radius: 3px;
            line-height: 30px;
            text-align: right;
            font-size: $topMenuFontSize;
            user-select: none;
        }

        .modal-header {
            .modal-header-container {
                width: 100%;
                height: 30px;
                background-color: $topMenuBgColor;
                border: 1px solid $topMenuBgColor;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                display: flex;
                color: $topMenuFontColor;
                justify-content: space-between;

                .title {
                    line-height: 30px;
                    text-transform: uppercase;
                    padding-left: 10px;
                    user-select: none;
                }

                .button {
                    color: $topMenuFontColor;
                    opacity: 0.8;
                    user-select: none;

                    &:hover {
                        opacity: 1;
                    }

                    &.close {
                        background-image: url("../../Assets/Images/close.png");
                    }
                }
            }
        }

        .modal-loader {
            position: absolute;
            z-index: 999;
            background-color: $loaderBackgroundColor;
            border: 1px solid $loaderBackgroundColor;
            border-bottom: none;
            overflow: hidden;
            display: flex;
            width: 600px;
            height: 316px;
            align-items: center;
            margin-top: 33px;
            justify-content: space-evenly;
        }

        .modal-body {
            width: 100%;
            background-color: $borderColor;
            border: 1px solid $panelBackgroundColor;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            flex-grow: 2;
            flex-direction: column;
            overflow: hidden;

            .control-container {
                display: flex;
                justify-content: flex-end;
                padding-right: 5px;
                padding-bottom: 8px;

                .control {
                    height: 30px;
                    width: auto;
                    margin-left: 10px;
                    background-repeat: no-repeat;
                    background-position-x: 10px;
                    background-position-y: center;
                    border-radius: 3px;
                    color: $secondaryButtonFontColor;
                    line-height: 30px;
                    text-align: right;
                    padding-right: 15px;
                    padding-left: 15px;
                    font-size: $topMenuFontSize;
                    user-select: none;
                    border: 1px solid $secondaryButtonBorderColor;
                    background-color: $secondaryButtonBackgroundColor;

                    &:hover {
                        background-color: $secondaryButtonHoverColor;
                        border-color: $secondaryButtonHoverColor;
                    }

                    &.main {
                        background-color: $topMenuColor;
                        border: 1px solid $topMenuColor;
                        color: $topMenuFontColor;

                        &:hover {
                            background-color: $topMenuColorActive;
                            border-color: $topMenuColorActive;
                        }
                    }
                }
            }

            .input-container {
                display: flex;
                justify-content: space-between;
                height: 30px;
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 3px;

                .field-label {
                    user-select: none;
                }

                .input-field-container {
                    flex-grow: 2;
                    display: flex;
                    position: relative;

                    .button {
                        background-size: 20px 20px;
                        color: #000;
                        opacity: 0.6;
                        position: absolute;
                        right: 0px;
                        bottom: 2px;
                        user-select: none;

                        &:hover {
                            opacity: 1;
                        }

                        &.find {
                            background-image: url("../../Assets/Images/find-dark.png");
                        }
                    }

                    input {
                        width: 100%;
                        padding-right: 28px;
                    }
                }
            }
        }
    }
}