@import "colors";
@import "common";

.tab-panel-container {
    flex-grow: 1;
    height: 55px;
    min-height: 55px;
    background-color: $borderColor;
    border-top: 1px solid $panelBackgroundColor;
    display: flex;
    z-index: 110;

    .tab-controls {
        width: 30px;
        min-width: 30px;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;

        .button {
            background-size: 18px 18px;
            background-repeat: no-repeat;
            color: #000;
            opacity: 0.4;
            width: 18px;
            height: 18px;
            margin-top: 7px;

            &:hover {
                opacity: 1;
            }

            &.plus {
                background-image: url("../../Assets/Images/plus-circle-small.png");
            }
        }
    }

    .tab-content {
        overflow-x: scroll;
        position: relative;
        margin-right: 18px;
        top: -1px;
        height: 100%;
        flex-grow: 1;

        .tab-container {
            width: max-content;
            height: 100%;

            .tab {
                min-width: 70px;
                display: inline-block;
                height: 28px;
                position: relative;
                border-right: 1px solid $borderDarkColor;

                &.active {
                    border-right: 1px solid $panelBackgroundColor;
                    border-left: none;
                    background-color: #fff;
                    font-weight: bold;
                    padding-bottom: 0;

                    &:first-of-type {
                        border-left: 1px solid $panelBackgroundColor;
                    }

                    .label {
                        border-bottom: 3px solid rgb(1, 150, 63);
                    }
                }

                &:hover {
                    font-weight: bold;
                }

                .label {
                    text-align: center;
                    user-select: none;
                    line-height: 28px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-left: -1px;
                    margin-right: -1px;
                }
            }
        }
    }
}